__pycache__
.DS_STORE
*.py[cod]
.ipynb_checkpoints
production/
dataset/**/*.jpg
dataset/**/*.mp4
dataset/**/*.avi
!dataset/**/readme.txt
analysis_report.txt
tram_arrivals.csv
build_custom_model/yolo*.pt